*/__pycache__
__pycache__
envs/lbm/__pycache__/__init__.cpython-311.pyc
envs/lbm/__pycache__/lbm_core.cpython-311.pyc
envs/lbm/__pycache__/lbm_fluid_env_func.cpython-311.pyc
envs/lbm/__pycache__/lbm_fluid_env.cpython-311.pyc
envs/lbm/__pycache__/lbm_func.cpython-311.pyc
envs/lbm/__pycache__/lbm_solver.cpython-311.pyc
envs/lbm/__pycache__/mujoco_to_lbm.cpython-311.pyc
envs/lbm/__pycache__/solid_func.cpython-311.pyc

/site/
outputs/sac_minimal/checkpoints/*
outputs/sac_minimal/tb/*

outputs/sac_minimal/eel2d_cpg.monitor.csv
outputs/sac_minimal/eel2d_forward_cpg.eval.monitor.csv
outputs/sac_minimal/eel2d_forward_cpg.monitor.csv
outputs/sac_minimal/eel2d_goal_cpg.monitor.csv
outputs/sac_minimal/monitor.csv
outputs/sac_minimal/sac_eel2d_forward_cpg_config.json
perf.md
